include README.md
include changeLog.txt
recursive-include multicatalogsSearch *.cfg
recursive-include multicatalogsSearch/static *
recursive-include multicatalogsSearch/js *
recursive-include multicatalogsSearch/views  *
recursive-include bin *

